html {
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 215px;
  height: 100%;
}

header .logo {
  width: 180px;
  margin: 10px 15px;
  position: relative;
  z-index: 99;
}

.menu {
  position: absolute;
  width: 75px;
  top: 0;
  padding-top: 85px;
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.menu:hover {
  width: 215px;
  background-color: #C3C3C3;
}

.menu .nav-pills>li {
  margin-bottom: -2px;
  padding: 10px 20px;
}

.menu .nav-pills>li>a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background-color: #C3C3C3;
  padding: 0;
  transition: all 0.3s ease-in 0.3s;
  -moz-transition: all 0.3s ease-in 0.3s;
  -webkit-transition: all 0.3s ease-in 0.3s;
}

.menu .nav-pills>li>a:hover,
.menu .nav-pills>li>a:focus {
  background-color: #C3C3C3;
}

section {
  position: relative;
}

.services {
  background-color: #dbdbdb;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.about {
  background: url("../img/vikua.gif") no-repeat fixed center / cover;
  padding: 100px 0;
}

.contact {
  /*background: url("../img/footer.jpg") no-repeat fixed center / cover;*/
  background: -webkit-radial-gradient(circle, #fff, #F4F4F4);
  color: #4d4d4d;
}

.contact a {
  color: #4d4d4d;
}

.switch input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.switch {
  width: 180px;
  height: 55px;
  position: relative;
}

.switch label {
  color: #C3C3C3;
  display: block;
  width: 150px;
  height: 100%;
  position: relative;
  background: #8E8E8E; /*#121823*/
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  padding: 8px 10px 15px 60px;
  font-weight: normal;
  text-align: center;
}

.switch input ~ label i {
  display: block;
  height: 51px;
  width: 51px;
  position: absolute;
  left: 2px;
  top: 2px;
  background: #C3C3C3; /* Fallback */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 4px;
}

.switch input ~ label i img {
  width: 100%;
  -moz-filter: invert(50%);
  -webkit-filter: invert(50%);
}

.switch label + span {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 17px;
  width: 18px;
  height: 18px;
  background: #8E8E8E; 
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}

.active .switch input ~ label + span { 
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
  background: #b9f3fe; 
}

.active .switch input ~ label i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ddd;
}

.active .switch input ~ label {
  color: #fff;
  background-color: #ddd;
  color: #777;
}

.switch:hover label {
  color: #fff;
}

.material-hover {
  background-color: rgba(0,0,0,0.2);
  display: inline-block;
  width: 160px;
  height: 1000%;
  position: absolute;
  top: 15px;
  left: -114px;
  z-index: 1;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transition: all 0.3s;
  -moz-transition: all ease-in 0.3s;
  -webkit-transition: all ease-in 0.3s;
  opacity: 0;
}

.material-hover:hover {
  opacity: 0;
}

.menu .nav-pills>li>a:hover label {
  background-color: #ddd;
  color: #777;
}

.menu .nav-pills>li>a:hover i {
  background-color: #ddd;
}

.menu .nav-pills>li>a:hover .switch {
  z-index: 3;
}

.menu .nav-pills>li>a:hover + .material-hover {
  opacity: 1;
}

.city {
  position: relative;
  display: table;
  margin: 60px auto;
  width: 375px;
  height: 250px;
}

.city .building {
 position: absolute;
 transform-style: preserve-3d;
 transform: rotateX(216deg) rotateY(-45deg);
 display: inline-block;
 vertical-align: bottom;
 z-index: 1;
 width: 20px;
 height: 20px;
 margin: 0 4px;
}

.city .building .top {
  width: 24px;
  height: 24px;
  margin-top: 40px;
  position: absolute;
  background-color: #ccc;
  transform: rotateX(90deg);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.city .building .right {
  width: 24px;
  height: 50px;
  margin-left: 11px;
  position: absolute;
  background: #818182;
  transform: rotateY(90deg);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.city .building .front {
  width: 24px;
  height: 50px;
  transform: translateZ(12px);
  position: absolute;
  background: #E7E7E7;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.city .building.small .top {
  margin-top: 28px;
}

.city .building.small .front {
  height: 40px;
}

.city .building.small .right {
  height: 40px;
}

.city .building.medium .top {
  margin-top: 58px;
}

.city .building.medium .front {
  height: 70px;
}

.city .building.medium .right {
  height: 70px;
}

.city .building.large .top {
  margin-top: 120px;
}

.city .building.large .front {
  height: 133px;
}

.city .building.large .right {
  height: 133px;
}

#building-1 {
  left: 87px;
  bottom: 17px;
  z-index: 7;
}

#building-2 {
  left: 64px;
  bottom: 45px;
  z-index: 5;
}

#building-3 {
  left: 110px;
  bottom: 31px;
  z-index: 6;
}

#building-4 {
  left: 94px;
  bottom: 52px;
  z-index: 4;
}

#building-5 {
  left: 125px;
  bottom: 53px;
  z-index: 4;
}

#building-6 {
  left: 180px;
  bottom: 20px;
  z-index: 7;
}

#building-7 {
  left: 138px;
  bottom: 45px;
  z-index: 5;
}

#building-8 {
  left: 172px;
  bottom: 46px;
  z-index: 6;
}

#building-9 {
  left: 145px;
  bottom: 80px;
  z-index: 4;
}

#building-10 {
  left: 227px;
  bottom: 68px;
  z-index: 6;
}

#building-11 {
  left: 196px;
  bottom: 78px;
  z-index: 5;
}

#building-12 {
  left: 144px;
  bottom: 127px;
  z-index: 3;
}

#building-13 {
  left: 172px;
  bottom: 106px;
  z-index: 5;
}

#building-14 {
  left: 184px;
  bottom: 140px;
  z-index: 4;
}

#building-15 {
  left: 210px;
  bottom: 101px;
  z-index: 3;
}

#building-16 {
  left: 237px;
  bottom: 88px;
  z-index: 3;
}

#building-17 {
  left: 237px;
  bottom: 88px;
  z-index: 3;
}

#building-18 {
  left: 264px;
  bottom: 126px;
  z-index: 2;
}

#building-19 {
  left: 230px;
  bottom: 175px;
  z-index: 1;
}

#building-20 {
  left: 244px;
  bottom: 162px;
  z-index: 1;
}

#logo_deg {
  position: absolute;
  width: 85px;
  bottom: -40px;
  left: 135px;
}

.city .light .front {
  background-color: #DEDEDE;
}

.city .dark .right {
  background-color: #737373;
}

.street {
  height: 8px;
  width: 300px;
  position: absolute;
  z-index: 0;
}

.street.left {
  -ms-transform: skew(70deg, -30deg);
  -webkit-transform: skew(70deg, -30deg);
  transform: skew(70deg, -30deg);
}

.street.right {
  -ms-transform: skew(-60deg, 30deg);
  -webkit-transform: skew(-60deg, 30deg);
  transform: skew(-60deg, 30deg);
}

.street.light-blue {
  background-color: #6098B0;
}

.street.blue {
  background-color: #004470;
}

.street.green {
  background-color: #008A3D;
}

.street.short {
  width: 200px;
}

.street.thin {
  height: 5px;
}

#street-1 {
  top: 202px;
  left: 30px;
}

#street-2 {
  top: 162px;
  left: 30px;
}

#street-3 {
  top: 100px;
  left: 50px;
}

#street-4 {
  top: 210px;
  left: 40px;
}

#street-5 {
  top: 208px;
  left: 92px;
}

#street-6 {
  top: 188px;
  left: 30px;
}

#street-7 {
  top: 170px;
  left: 30px;
}

#street-8 {
  top: 152px;
  left: 76px;
}

#street-9 {
  top: 122px;
  left: 117px;
}

#street-10 {
  top: 112px;
  left: 140px;
}

.well {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.city .building.glow .top {
  background-color: #68AA2E;
  margin-top: 108px;
}

.city .building.glow .right {
  background-color: #4C8F0A;
  height: 120px;
}

.city .building.glow .front {
  background-color: #6BC72A;
  height: 120px;
}

.mid-size {
  width: 250px;
}

.content {
  background-color: #b3b3b3;
  padding: 20px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#city_container {
  transition: width 0.5s;
  -moz-transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

#city_info {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: absolute;
  left: 200%;
  background-color: #fff;
  height: 100%;
  padding: 20px 15px;
  top: 0;
  margin-left: 150px;
}

#city_info.show-info {
  left: 50%;
}

#city_info.show-info:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #dbdbdb;
  z-index: 2;
}

.services .row {
  position: relative;
}

#ascrail2000-hr {
  display: none;
}

.push_sidebar {
  padding-left: 215px;
}

.message {
  display: none;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.chat-box {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 3px solid #ccc;
  background-color: #fff;
  padding: 20px;
}


.chat-box .arrow {
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -18px;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid #ccc;
  z-index: 2;
}

.chat-box .arrow:before {
  content: '';
  position: absolute;
  margin-left: -15px;
  margin-top: 4px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  z-index: 2;
}

.button-close {
  background: #dbdbdb;
  height: 40px;
  position: absolute;
  width: 6px;
  top: 20px;
  right: 40px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  z-index: 99;
}

.button-close:after {
  background: #dbdbdb;
  content: "";
  height: 6px;
  left: -17px;
  position: absolute;
  top: 17px;
  width: 40px;
}

.button-close:hover {
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.parallax-viewport {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  bottom: 200px;
}

.parallax-layer {
  position: absolute;
  top: inherit !important;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}

.parallax-layer img {
  max-width: 100%;
}

.parallax-layer.back {
  bottom: 35%;
}

.parallax-layer.back.up {
  bottom: 10%;
}

.parallax-layer.back:after {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  height: 400px;
  left: 0;
  background-color: #666;
}

.parallax-layer.mid {
  bottom: 20%;
}

.parallax-layer.mid.up {
  bottom: 5%;
}

.parallax-layer.mid:after {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  height: 400px;
  left: 0;
  background-color: #808080;
}

.parallax-layer.front {
  bottom: 0;
}

.parallax-layer.front:after {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  height: 400px;
  left: 0;
  background-color: #B3B3B3;
}

.btn-material {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #446A89;
  margin: 10px 0;
  color: #446A89;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.btn-material:hover,
.btn-material:focus {
  outline: 0;
  text-decoration: none;
  background-color: #446A89;
  color: #fff;
}

section.staff {
  padding: 30px 0;
}

.profile {
  position: relative;
  padding: 10px;
}

.profile-info.right:after {
  content: '';
  position: absolute;
  left: -2px;
  top: 50%;
  margin-top: -10px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #fff;
  z-index: 2;
}

.profile-info.left:after {
  content: '';
  position: absolute;
  right: -2px;
  top: 50%;
  margin-top: -10px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #fff;
  z-index: 2;
}

.profile-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  background-color: #dbdbdb;
  border: 2px solid #dbdbdb;
  display: none;
}

.profile-info.right {
  left: 100%;
}

.profile-info.left {
  right: 100%;
}

.profile:hover > .profile-info {
  display: block;
}